/* # RESET */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body{
    font-family: Arial, Helvetica, sans-serif;
  }
  
  img{
    max-width: 100%;
  }
  
  /* # UTILS */
  
  .container {
    margin: 0 auto;
    padding: 0 10px;
    width: 1000px;
    max-width: 100%;
  }


  .products > .container{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 2rem;
    padding: 5rem 0 ;
    
  }

  .header-container {
    display: flex;
    justify-content: space-between;
    /* border: 1px dashed black; */
    align-items: center;
    height: 60px;
  }

  .header-items {
    width: 40%;
  }
  
  .logo-container {
    width: 109%;
    /* border: 1px dashed black; */
    
  }
 

  .products .product-card{
    flex: 1 0 30%;

    background-color: transparent;
    min-height: 300px;
    position: relative;
    cursor: pointer;
  }

  .hover-img{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: all 0.8s ease;
  }

  .hover-img:hover{
    opacity: 1;
  }

  .card-header{
    position: absolute;
    background-color: white;
    top: 20px;
    right: 0;
    padding: 5px 8px;
    z-index: 2;
    font-size: 1.5rem;
  }
  .card-header:hover{
    color: red;
  }

  .card-spam{
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 68px;
    left: 0;
    font-size: 0.7rem;
    font-weight: bold;
  }

  .card-discount{
   background-color: red;
   padding: 2px 4px;
    margin-right: 5px;
    color: rgb(246, 239, 227);
  }
  .green-spam{
    background-color: green;
    padding: 2px 4px;
    margin-right: 5px;
    color: rgb(246, 239, 227);
  }

  .brand{
    color: gray;
  }

  .article{
    font-weight: bolder;
  }

  .actual-price{
    color: rgb(214, 37, 37);
  }
  .actual-price > .orig-price{
    text-decoration: solid;
    text-decoration-line:line-through;
    color: gray;
  }