/* # RESET */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body{
    font-family: Arial, Helvetica, sans-serif;
  }
  
  img{
    max-width: 100%;
  }
  
  /* # UTILS */
  
  .container {
    margin: 0 auto;
    padding: 0 10px;
    width: 1000px;
    max-width: 100%;
  }


  .products > .container{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 2rem;
    padding: 5rem 0 ;
    
  }

  .products .product-card{
    flex: 1 0 30%;

    background-color: grey;
    min-height: 300px;
    position: relative;
    cursor: pointer;
  }

  .hover-img{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }

  .hover-img:hover{
    opacity: 1;
  }
 

  .card-spam{
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 68px;
    left: 0;
    font-size: 0.7rem;
    font-weight: bold;
  }

  .card-discount{
   background-color: red;
   padding: 2px 4px;
    margin-right: 5px;
  }
  .green-spam{
    background-color: green;
    padding: 2px 4px;
    margin-right: 5px;
  }

  .brand{
    color: lightgray;
  }

  .article{
    font-weight: bolder;
  }

  .actual-price{
    color: rgb(214, 37, 37);
  }
  .actual-price > .orig-price{
    text-decoration: solid;
    text-decoration-line:line-through;
    color: lightgray;
  }